@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  margin:0;
  /* background-color: whitesmoke; */
}

/* NAVIGATION BAR */
nav{
  margin-top: 0;
  height: 12vh;
}
nav h1{
    font-family: 'Josefin Sans', cursive;
}


nav ul{
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  /* background-color: black; */
}

nav ul li{
  flex-basis: 8%;
  color: brown;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 1.5rem;
  text-decoration: none;
  font-size: 18px;
}
nav ul li:first-child{
  margin-right: 25rem;
  padding: 0;
  font-size: px;
}


nav ul li:last-child{
  margin-left: 25rem;
}
.link-react{ /*targets react link component */
  text-decoration: none;
}

/* HEADER SECTION */

.main-coloring{
  /* background: rgb(255,210,210);
background: linear-gradient(247deg, rgba(255,210,210,0.592874649859944) 0%, rgba(121,9,40,0.8202103758169934) 10%); */
background: rgb(121,9,40);
background: linear-gradient(349deg, rgba(121,9,40,0.8645833333333334) 0%, rgba(255,227,227,1) 55%);
}
.headings{
  /* margin:0 auto; */
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-top: 2rem;
  padding-left: 3rem;
  height: 85vh;
  width: 100%;
  /* margin-bottom: 5rem; */
  border-radius: 1px solid black;
}
header{
  /* display: flex;
  flex-flow: row wrap;
  padding-top: 2rem;
  height: 75vh;
  width: 100%;
  margin-bottom: 5rem;
  border-radius: 1px solid black; */
}

header h1{
  margin-bottom: 1rem;
  font-size: 60px;
}

header div{
  flex-basis: 50%;
  justify-content: center;
}
header p{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

header button{
  height: 40px;
  width: 120px;
  margin-right: 2rem;
  background-color: black;
  color: whitesmoke;
  border-radius: 30px;
  font-size: medium;
}
/* 
HEADER SECTION IMAGES */
#header-image3{  /*pad*/
  background-image: url("https://images.unsplash.com/photo-1531346680769-a1d79b57de5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
  height: 200px;
  width: 150px;
  background-size: 150px;
  background-repeat: no-repeat;
  /* background-color: black; */
  border-radius: 25px;
  position: relative;
  left: 400px;
}
#header-image1{ /* mug */
  background-image: url("https://images.unsplash.com/photo-1613579917953-d35e6b72d32b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  height: 151px;
  width: 155px;
  background-size: 225px;
background-repeat: no-repeat;
background-color: black;
border-radius: 50%;
position: relative;
left: 300px;

}
#header-image2{ /*phone*/
  background-image: url("https://images.unsplash.com/photo-1564583138697-34f7b7488f94?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
  height: 175px;
  width: 225px;
  background-size: 260px ;
background-repeat: no-repeat;
background-color: green;
border-radius: 25px;
left: 100px;
position: relative;

}
/* BODY  */
.banner{
  margin: 4rem auto;
  padding: 0 4rem 0 4rem;
  text-align: center;
}
.banner h3{
  font-size: 30px;
}

.section-body{
  display: flex;
  flex-flow: row wrap;
}

form{
  padding: 10%;
  border: black solid 2px;
  width: 50%;
  margin: 0 auto;
}
form input{
  display: block;
  padding: 1em;
  border-radius: 30px;
}

footer{
  display: flex;
  flex-flow: row wrap;
  background: brown;
  height: 5vh;
}
footer div{
  flex-basis: 30%;
  background: black;
  color: gray;
}







.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
