@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


:root {
  --black-chocolate: #211103;
  --black-bean: #3D1308;
  --brown-bean: #49160A;
  --burgundy: #7B0D1E;
  --ruby: #9F2042;
  --lavblush: #F8E5EE;
  --platinum: #E7E4E5;
}

html{
  box-sizing: border-box;
}


*,
*::before,
*::after {
box-sizing: inherit;
}

body{
  margin: -16px;
  padding: 0;
  color: var(--brown-bean);
}

.main{
  margin: 0;
}

/* NAVIGATION BAR */
nav{
  margin-top: 0;
  height: 12vh;
  background-color: #ffe3e3;
  padding: 0;
}
nav h1{
    font-family: 'Josefin Sans', cursive;
}


nav ul{
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  justify-content: center;
}

nav ul li{
  flex-basis: 8%;
  color: brown;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* padding-top: 1.5rem; */
  text-decoration: none;
  font-size: 18px;
}

nav ul li:hover{
  background-color: #211103;
  color:#ffe3e3;
}


nav ul li:first-child{
  margin-right: 25rem;
  padding: 0;
  font-size: px;
}

nav ul li:last-child{
  margin-left: 25rem;
}


.link-react{ /*targets react link component */
  text-decoration: none;
  color: (var(--brown-bean));
}

/* .link-react:hover {
  background-color: (var(--burgundy));
} */

.link-react:hover {
  background-color: (var(--brown-bean));
  color: whitesmoke;
  /* color: (var(--brown-bean)); */
  /* color: (var(--burgundy)); */
}



/* HEADER SECTION */

.main-coloring{
  /* background: rgb(255,210,210);
background: linear-gradient(247deg, rgba(255,210,210,0.592874649859944) 0%, rgba(121,9,40,0.8202103758169934) 10%); */
background: rgb(121,9,40);
background: linear-gradient(349deg, rgba(121,9,40,0.8645833333333334) 0%, rgba(255,227,227,1) 55%);
}
.headings{
  /* margin:0 auto; */
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-top: 2rem;
  padding-left: 3rem;
  height: 85vh;
  width: 100%;
  /* margin-bottom: 5rem; */
  border-radius: 1px solid black;
}
header{
  /* display: flex;
  flex-flow: row wrap;
  padding-top: 2rem;
  height: 75vh;
  width: 100%;
  margin-bottom: 5rem;
  border-radius: 1px solid black; */
}

header h1{
  margin-bottom: 1rem;
  font-size: 60px;
}

header div{
  flex-basis: 50%;
  justify-content: center;
}
header p{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

header button{
  height: 40px;
  width: 120px;
  margin-right: 2rem;
  background-color: var(--black-bean);
  color: var(--platinum);
  border-radius: 30px;
  font-size: medium;
  border: 0px solid var(--black-bean);
  text-transform: uppercase;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  
}
/* 
HEADER SECTION IMAGES */
#header-image3{  /*pad*/
  background-image: url("https://images.unsplash.com/photo-1531346680769-a1d79b57de5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
  height: 200px;
  width: 150px;
  background-size: 150px;
  background-repeat: no-repeat;
  /* background-color: black; */
  border-radius: 25px;
  position: relative;
  left: 400px;
}
#header-image1{ /* mug */
  background-image: url("https://images.unsplash.com/photo-1613579917953-d35e6b72d32b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  height: 151px;
  width: 155px;
  background-size: 225px;
background-repeat: no-repeat;
background-color: black;
border-radius: 50%;
position: relative;
left: 300px;

}
#header-image2{ /*phone*/
  background-image: url("https://images.unsplash.com/photo-1564583138697-34f7b7488f94?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
  height: 175px;
  width: 225px;
  background-size: 260px ;
background-repeat: no-repeat;
/* background-color: green; */
border-radius: 25px;
left: 100px;
position: relative;

}
/* **********************************
/* **********************************
/* **********************************
/* **********************************
/* **********************************! /*
/*BODY !!*/

.banner{
  margin: 0 auto;
  /* padding: 0 10rem 0 10rem; */
  padding: 4rem ;
  text-align: center;
  height: 20vh;
  background-color: #FCF6F6;
  color: #49160A;
  /* color: var(--black-bean); */
}

.banner hr{
  margin: 0.5% 0 1.5% 0; 
  height: 4px;
  background-color: var(--brown-bean);
  width: 100%;
  border-radius: 20px;
}

.banner h3{
  font-size: 30px;
}

/* .banner-dec{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
} */

/* !! BODY - Main Sections !! */
.section-body{
  display: flex;
  flex-flow: row wrap;
  width: 100%;  
  height: 65vh;
  /* background-color: var( --burgundy); */
  margin-bottom: 2%;

}
.section-body section{
  width: 50%;
  text-align: center;
  color: var( --platinum);
} 
.section-img{
   object-fit: contain;
  background-repeat: no-repeat;
  width: 50%;
  min-height: 100%;
  background-color: red; 
   background-image: url("https://images.unsplash.com/photo-1531346680769-a1d79b57de5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
}

  /* background-color: var(--brown-bean); */
  /* background-color: (var(--platinum)); */

/* !! BODY - Download ads !! */

.body-blog{
  height: 70vh;
  background-color: #790928;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.body-post{
  /* background-color: (var(--platinum)); */
  /* height: 100%; */
  color: black;
  /* margin: 2rem; */
  background-color: white;
  text-align: center;
  padding: 2rem;
  flex-basis: 30%;
}

.body-blog h4 {
  font-size: 26px;
  color: var(--ruby);
  background-color: green;
}

.body-blog p {
  padding: 1rem;
}

.body-post .post-pic {
max-width:100%;
max-height:50%;
overflow: hidden;
margin-bottom: 1rem;

}
.body-post .post-pic img{
max-width:100%;
max-height:100%;
object-fit: cover;

}

.slideIcons{
  display: flex;
  flex-flow: row wrap;
  background-color: #ffe3e3;
  height: 35vh;
}

/* !! BODY - Partnerships !! */
.sectionTitle{
  height: 35vh;
}


/* !! BODY - Reviews !! */
.reviews{
  height: 45hv;
  background-color: #ffe3e3;
}

.appIcons {
  margin-top: 1rem;
  height: 25vh;
  background-color: #ffe3e3;
  display: flex;
  flex-flow: row wrap;
}
.appIcons div {
  flex-flow: row wrap;
  height: 10vh;
  width: 35vw;
  background-color: whitesmoke;
  margin: 10px;
}

form{
  padding: 10%;
  border: black solid 2px;
  width: 50%;
  margin: 0 auto;
}
form input{
  display: block;
  padding: 1em;
  border-radius: 30px;
}

footer{
  display: flex;
  flex-flow: row wrap;
  background: brown;
  height: 5vh;
}
footer div{
  flex-basis: 30%;
  background: black;
  color: gray;
}







.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
