@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


:root {
  --black-chocolate: #211103;
  --black-bean: #3D1308;
  --brown-bean: #49160A;
  --burgundy: #7B0D1E;
  --ruby: #9F2042;
  --lavblush: #F8E5EE;
  --platinum: #E7E4E5;
}

 /*  UTILITY CLASSES */
 .flex {
  display: flex;
 }

 .flex-space-justify{
  justify-content: space-between;
 }

 .flex-space-center{
  justify-content: space-between;
 }

 .content-center{
  align-items: center;
 }

 /* MAIN APP */




html{
  box-sizing: border-box;
}


*,
*::before,
*::after {
box-sizing: inherit;

}

body{
  padding: 0;
  color: var(--brown-bean);
  /* max-width: 100%; */
  margin: 0;
  font-family: 'Oxygen Mono', monospace;
  line-height: 1.3;
  font-size: .8rem;
}

a, a:visited, a:hover{
  text-decoration: none;
}
.main{
margin: 0;
}

/* page content margin */
.content {
  padding:  0 40px;
  margin:0;
}


/* NAVIGATION BAR */
.home-nav{
  height: 80px;
  background-color: #ffe3e3;
 
}
nav h1{
    font-family: 'Josefin Sans', cursive;
    margin: 0;

}

nav ul{
  display: flex;
  list-style: none;
  flex-flow: row ;
  height: 70px;
  margin: 0; 
  padding: 0;

}

nav ul li{
  /* flex-basis: 8%; */
  color: brown;
  justify-content: space-between; 
   text-align: center;
   align-content: center;
  /* align-items: left; */
  padding-top: 1rem; 
  text-decoration: none;
  font-size: 18px;
  
}

nav ul li:hover{
  background-color: #211103;
  color:#ffe3e3;
}


nav ul li:first-child{
  margin-right: auto;
  
text-align: left;


}

nav ul li:last-child{
  margin-left: 22rem;
}

nav ul li span{
  color: brown;
}
nav ul li span:hover {
  color:brown;
}



.nav-links{ /*targets react link component */
  text-decoration: none;
  color: (var(--brown-bean));
  margin: 0;
  display: block;
  padding: 0.5rem;
}
a{
  margin:0;
}

/* .link-react:hover {
  background-color: (var(--burgundy));
} */

.link-react:hover {
  background-color: (var(--brown-bean));
}
nav ul li button {
  background-color: #ffe3e3; 
  border-radius: 25px;
  border: 1px solid brown;
}
nav ul li button:hover {
  color: brown;
}






/* HEADER SECTION */

.main-coloring{
  /* background: rgb(255,210,210);
background: linear-gradient(247deg, rgba(255,210,210,0.592874649859944) 0%, rgba(121,9,40,0.8202103758169934) 10%); */
background: rgb(121,9,40);
background: linear-gradient(349deg, rgba(121,9,40,0.8645833333333334) 0%, rgba(255,227,227,1) 55%);
}

.headings{
  /* margin:0 auto; */
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  /* padding-top: 2rem;
  padding-left: 3rem; */
  height: 89vh;
  width: 100%;
  /* margin-bottom: 5rem; */
  border-radius: 1px solid black;
  margin: 0;
}


.header-content h1{
  font-size: 4rem;
}

@media screen and (max-width: 550px){
  .header-content h1{
    font-size: 2rem;
  }
  .header-content button {
    margin-top: 1.5rem;
    display: block;
    width: 90%;
    height: 3rem;
  }
}

/* @media screen and (max-width: 945px){
  .home-nav, .header-images{
    display:none;
  }
  .headings{
    display: block;
  }

} */

/* media and screen(max-width: 520px){
  .header-content h1{

  }
} */

header div{
  flex-basis: 50%;
  justify-content: center;
  padding-bottom: 10 rem;
  
}
header p{
  margin-top: 2rem;
  /* margin-bottom: 3rem; */
}

header button{
  height: 40px;
  width: 120px;
  margin-right: 2rem;
  background-color: var(--black-bean);
  color: var(--platinum);
  border-radius: 30px;
  font-size: medium;
  border: 0px solid var(--black-bean);
  text-transform: uppercase;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  
}
/* 
HEADER SECTION IMAGES */
#header-image3{  /*pad*/
  background-image: url("https://images.unsplash.com/photo-1531346680769-a1d79b57de5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
  height: 200px;
  width: 150px;
  background-size: 150px;
  background-repeat: no-repeat;
  /* background-color: black; */
  border-radius: 25px;
  position: relative;
  left: 400px;
}
#header-image1{ /* mug */
  background-image: url("https://images.unsplash.com/photo-1613579917953-d35e6b72d32b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  height: 151px;
  width: 155px;
  background-size: 225px;
background-repeat: no-repeat;
background-color: black;
border-radius: 50%;
position: relative;
left: 300px;

}
#header-image2{ /*phone*/
  background-image: url("https://images.unsplash.com/photo-1564583138697-34f7b7488f94?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
  height: 175px;
  width: 225px;
  background-size: 260px ;
background-repeat: no-repeat;
/* background-color: green; */
border-radius: 25px;
left: 100px;
position: relative;

}
/* **********************************
/* **********************************
/* **********************************
/* **********************************
/* **********************************! /*
/*BODY !!*/

.banner{
  
  margin: 0 auto;
  text-align: center;
  /* height: 20vh; */
  background-color: #FCF6F6;
  color: #49160A;
  padding: 2rem ;
  /* color: var(--black-bean); */
}

.banner hr{
  margin: 0.5% 0 1.5% 0; 
  height: 4px;
  background-color: var(--brown-bean);
  width: 100%;
  border-radius: 20px;
}

.banner h3{
  font-size: 30px;
  margin: 0;
}

/* .banner-dec{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
} */

/* !! BODY - Main Sections !! */
.section-body{
  display: flex;
  flex-flow: row wrap;
  width: 100%;  
  height: 65vh;
  background-color: #FCF6F6;
  /* background-color: var( --burgundy); */
  padding-bottom: 2%;

}
.section-body section{
  width: 50%;
  text-align: center;
  color: var( --platinum);
} 
.section-img{
   object-fit: contain;
  background-repeat: no-repeat;
  width: 50%;
  min-height: 100%;
  background-color: red; 
   background-image: url("https://images.unsplash.com/photo-1531346680769-a1d79b57de5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
}

  /* background-color: var(--brown-bean); */
  /* background-color: (var(--platinum)); */

/* !! BODY - Download ads !! */

.body-blog{
  height: 70vh;
  background-color: #FCF6F6;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
 
}
.body-post{
  /* background-color: (var(--platinum)); */
  max-height: 90%;
  color: black;
  /* margin: 2rem; */
  background-color: white;
  text-align: center;
  padding: 2rem;
  flex-basis: 30%;
  overflow: hidden;
}

.body-blog h4 {
  font-size: 26px;
  color: var(--ruby);

}

.body-blog p {
  /* padding: 1rem; */
}

.body-post .post-pic {
/* max-width:100%; */
height:50%; 
overflow: hidden;
/* margin-bottom: 1rem; */
/* background-color: #211103; */
padding: 1rem;

}
.body-post .post-pic img{
max-width:70%;
max-height:50%;
object-fit: cover;

}

.slideIcons{
  display: flex;
  flex-flow: row wrap;
  background-color: #ffe3e3;
  height: 35vh;
}

/* !! BODY - Partnerships !! */
.sectionTitle{
  height: 35vh;
}


/* !! BODY - Reviews !! */
.reviews{
  height: 45hv;
  background-color: #ffe3e3;
}

.appIcons {
  margin-top: 1rem;
  height: 25vh;
  background-color: #ffe3e3;
  display: flex;
  flex-flow: row wrap;
}
.appIcons div {
  flex-flow: row wrap;
  height: 10vh;
  width: 35vw;
  background-color: whitesmoke;
  margin: 10px;
}

/* SIGN IN COMPONENT */

.signIn {
  padding: 10%;
  border: black solid 2px;
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:125px 125px;
 
}
.signIn input{
  display: block;
  padding: 1em;
  border-radius: 30px;
  background-color: var(--platinum);
}

footer{
  display: flex;
  flex-flow: row wrap;
  background: brown;
  height: 5vh;
}
footer div{
  flex-basis: 30%;
  background: black;
  color: gray;
}


 /* **************DASHBOARD COMPONENTS****************  */

 /* DASHBOARD  */
 .dash-home h1{
  margin: 2rem auto;
  width: 25%;
  background-color: #3D1308;

 }
 .dash-selector{
  display: grid;
  grid-template-columns: repeat(3, 1fr );
  grid-template-rows: auto;
  gap: 5%;
  /* margin: 2rem; */
  margin: 2rem 0;
  background-color: black;

 }
 .dash-selector .selection{
  grid-column: span 1;
  background-color: yellow;
  width: 100%;
  min-height: 25rem;
 }
  .selection .icon{
    background-color: gray;
    min-height: 70%;
  }
  .dash-home #button{
    margin: 2rem auto;
    width: 25%;
    height: 3rem;
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
    /* background-color: #3D1308;
    margin: 0 auto;
    width: 20%; */
  }
/* 
  TASK FORM COMPONENT */

  form  {
    background-color: gray;
    color:#211103;
    display: grid;
    width: 50%;
    margin: 0 auto;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:auto;
   }

 #text-box {
display: block;
   }

form .taskList label {
  display: block;
}

form .taskList label {
  display: block;
}
  

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
form label {
  display: block;
}


/* DASHBOARD NAVIGATION */

.dashNav nav{
  background-color: gray;
}

nav .logo  img{
  width: 8.8125rem;
  height: 1.375rem;
}

/* ????this is targeting ??? */
.dashNav .menu-hamburger{
  color: black;
}
.menu-hamburger span  {
  display: block;
  width: 26px;
  height: 2px;
  background-color: var(--black-bean);
}

.menu-hamburger span:not(:last-child)  {
  margin-bottom: 3px;
}

.header-links a{
  font-size: 0.875rem;
}

/*   BUTTON STYLING  */
 .button  {
  padding: 1rem 1.875rem;
  /* background-color: linear-gradient(to right, #31d35c, #2bb7da); */
  background: linear-gradient(to right, #e66465, #9198e5);
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  border:0;
}

/* CLASS FOR DASH BUTTON ANCHOR */
.archorBtn{
  font-size: 0.875rem;
  color: white;
}

/* VISISBILITY */
.hide-for-mobile{
  display: none;
}

@media screen and (max-width: 945px){
  .home-nav, .header-images{
    display:none;
  }
  .headings{
    display: block;
  }

}


/* @media screen and (min-width: 64em){
  body .hide-for-desktop{
    display:none;
  }
} */

/* @media screen and (min-width: 40em){
  body{
    display:none;
  }
} */

/* 
=========================================
=========================================
=========================================
BLOG PAGE CSS
=========================================
=========================================
=========================================
=========================================
 */

 .blog-header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  height: 89vh;
  background-color: #FCF6F6;
 }

 .main-blog{
  flex-basis: 62%;
  background-color: gray;
  border-radius: 20px;
  margin: 1rem;
 }

 .main-blog-aside{
  flex-basis: 30%;
  background-color: gray;
  border-radius: 20px;
  margin: 1rem;
 }
 .main-blog-sub{
  flex-basis: 30%;
  background-color: gray;
  border-radius: 20px;
  margin: 1rem;
 }

 .blog-header h3{
  font-size: 2rem;
  margin: 1rem;
 }










/* REACT'S CSS */
.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 

